<div class="award_slide">
  <div class="slides">
    <div class="slide">
      <img src="/assets/images/award1.png" alt="award 1" />
      <h4 class="slide_title">Top 100 Asia</h4>
      <p class="slide_description">
        MinaTech was honored for Top 100 Asia - Pacific Outstanding Brand based
        on criteria like quality of services preffered by consumers, excellent
        service values, stable growth, positive contribution to the economy.
      </p>
    </div>
    <div class="slide">
      <img src="/assets/images/award2.png" alt="award 2" />
      <h4 class="slide_title">Top 50 typical enterprise of Vietnam</h4>
      <p class="slide_description">
        MinaTech won the title "Top 50 typical enterprise of Vietnam - Asean
        2020 thanks to its contributions to the economic development of ASEAN
        and the world.
      </p>
    </div>
    <div class="slide">
      <img src="/assets/images/award3.png" alt="award 1" />
      <h4 class="slide_title">Top 50 Asean</h4>
      <p class="slide_description">
        MinaTech was honored in TOP 50 ASEAN High Quality Products and Services
        2020 which is a very meaningful recognition for the company's
        achievements and efforts to expand the market in recent years
      </p>
    </div>
    <div class="slide">
      <img src="/assets/images/award4.png" alt="award 1" />
      <h4 class="slide_title">Lavarel Certificate</h4>
      <p class="slide_description">
        Nguyen Phu Tam has successfully completed the test requirements on...
      </p>
    </div>
    <div class="slide">
      <img src="/assets/images/award5.png" alt="award 1" />
      <h4 class="slide_title">ISTQB Gold Partner</h4>
      <p class="slide_description">
        This acceptance testing qualification is aimed at anyone involved in
        software acceptance testing activities. This includes people in roles
        such as product owners, business analysts, testers, test analysts, test
        engineers, test consultants, test managers, user acceptance testers, and
        software developers
      </p>
    </div>
  </div>
</div>
