<div class="banner">
  <div class="slides">
    <!-- Slide 1 -->
    <div
      class="slide"
      style="background-image: url('../assets/images/bgBanner1.png')"
    >
      <!-- Content -->
      <div class="content">
        <div class="content_left">
          <h1>Holistic Ecommerce Solutions</h1>
          <p>
            Optimizing brand's presence and helping companies sell their
            products or services around the world to get the real business out.
          </p>
          <button class="btn_action">
            <span>Start your Project</span>
            <img
              src="/assets/images/arrow_forward.png"
              alt="arrow forward img"
            />
          </button>
        </div>
        <div class="content_right">
          <img
            src="/assets/images/slide1.png"
            alt="Holistic Ecommerce Solutions Image"
          />
        </div>
      </div>
    </div>
    <!-- Slide 2 -->
    <div
      class="slide"
      style="background-image: url('../assets/images/bgBanner2.png')"
    >
      <!-- Content -->
      <div class="content">
        <div class="content_left">
          <h1>Your Reliable Technology Partner</h1>
          <p>
            Delivering Cost - Effective Solutions For The Product Development
            And Digital Transformation.
          </p>
          <button class="btn_action">
            <span>Book A Free Consultation</span>
            <img
              src="/assets/images/arrow_forward.png"
              alt="arrow forward img"
            />
          </button>
        </div>
        <div class="content_right">
          <img
            src="/assets/images/slide2.png"
            alt="Your Reliable Technology Partner Image"
          />
        </div>
      </div>
    </div>
    <!-- Slide 3 -->
    <div
      class="slide"
      style="background-image: url('../assets/images/bgBanner1.png')"
    >
      <!-- Content -->
      <div class="content">
        <div class="content_left">
          <h1>Holistic Ecommerce Solutions</h1>
          <p>
            Optimizing brand's presence and helping companies sell their
            products or services around the world to get the real business out.
          </p>
          <button class="btn_action">
            <span>Start your Project</span>
            <img
              src="/assets/images/arrow_forward.png"
              alt="arrow forward img"
            />
          </button>
        </div>
        <div class="content_right">
          <img
            src="/assets/images/slide3.png"
            alt="Holistic Ecommerce Solutions Image"
          />
        </div>
      </div>
    </div>
  </div>
      <div class="dots">
      <span class="dot" onclick=""></span>
      <span class="dot" onclick=""></span>
      <span class="dot" onclick=""></span>
    </div>
  <!-- Introduction Tabs -->
  <div class="introduction_tabs">
    <div class="introduction_tabs_item">
      <h2>7+</h2>
      <h6>Year Experience</h6>
    </div>
    <div class="introduction_tabs_item">
      <h2>200+</h2>
      <h6>Employees</h6>
    </div>
    <div class="introduction_tabs_item">
      <h2>6000+</h2>
      <h6>Completed Projects</h6>
    </div>
    <div class="introduction_tabs_item">
      <h2>20+</h2>
      <h6>Countries with clients</h6>
    </div>
    <div class="introduction_tabs_item">
      <h2>500+</h2>
      <h6>Happy customers</h6>
    </div>
  </div>
</div>
