<div class="clients">
  <div class="content">
    <!-- Header -->
    <div class="header">
      <div class="header_left">
        <p class="label">Our Clients</p>
        <h2 class="title">Key Clientele</h2>
      </div>
      <div class="header_right">
        <p>
          We have worked with more than 500+ happy customers on their product
          development, the digital transformation and met any business
          modernization requirements and challenges.
        </p>
      </div>
    </div>
    <!-- Body -->
    <div class="brands">
      <img src="/assets/images/brands/brand1.png" alt="" />
      <img src="/assets/images/brands/brand2.png" alt="" />
      <img src="/assets/images/brands/brand3.png" alt="" />
      <img src="/assets/images/brands/brand4.png" alt="" />
      <img src="/assets/images/brands/brand5.png" alt="" />

      <img src="/assets/images/brands/brand6.png" alt="" />
      <img src="/assets/images/brands/brand7.png" alt="" />
      <img src="/assets/images/brands/brand8.png" alt="" />
      <img src="/assets/images/brands/brand9.png" alt="" />
      <img src="/assets/images/brands/brand10.png" alt="" />

      <img src="/assets/images/brands/brand11.png" alt="" />
      <img src="/assets/images/brands/brand12.png" alt="" />
      <img src="/assets/images/brands/brand13.png" alt="" />
      <img src="/assets/images/brands/brand14.png" alt="" />
      <img src="/assets/images/brands/brandfc.png" alt="" />

      <img src="/assets/images/brands/brandGolf.png" alt="" />
      <img src="/assets/images/brands/brandishikawa.png" alt="" />
      <img src="/assets/images/brands/BrandKingJim.png" alt="" />
      <img src="/assets/images/brands/BrandLograph.png" alt="" />
      <img src="/assets/images/brands/BrandMapple.png" alt="" />

      <img src="/assets/images/brands/BrandNativeCamp.png" alt="" />
      <img src="/assets/images/brands/BrandNaviwise.png" alt="" />
      <img src="/assets/images/brands/BrandR09.png" alt="" />
      <img src="/assets/images/brands/BrandSKT.png" alt="" />
      <img src="/assets/images/brands/BrandWeb.png" alt="" />
    </div>
  </div>
</div>

<div id="clients_slide"></div>
<div id="client_footer"></div>
