<div class="clients_slide">
  <div class="slides">
    <div class="slide">
      <div class="background">
        <div class="symbol_top">
          <img src="/assets/images/brands/symbolQuite.png" alt="symbolQuite" />
        </div>
        <p>
          “For our company, this is the first time developing software in the
          form of Offshore but it has achieved more than expected results.
          Thanks to that, we were able to launch Fanclup pages 5 times faster
          and have reduced costs by 30% compared to the initial investment”
        </p>
        <div class="avatarClient">
          <img src="/assets/images/brands/avatarClient.png" alt="" />
        </div>
        <div id="client_info">
          <p id="client_info_name">MR. Natsuki Takamura</p>
          <p id="client_info_position">AXEL ENTER MEDIA Company</p>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="background">
        <div class="symbol_top">
          <img src="/assets/images/brands/symbolQuite.png" alt="symbolQuite" />
        </div>
        <p>
          “For our company, this is the first time developing software in the
          form of Offshore but it has achieved more than expected results.
          Thanks to that, we were able to launch Fanclup pages 5 times faster
          and have reduced costs by 30% compared to the initial investment”
        </p>
        <div class="avatarClient">
          <img src="/assets/images/brands/avatarClient.png" alt="" />
        </div>
        <div id="client_info">
          <p id="client_info_name">MR. Natsuki Takamura</p>
          <p id="client_info_position">AXEL ENTER MEDIA Company</p>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="background">
        <div class="symbol_top">
          <img src="/assets/images/brands/symbolQuite.png" alt="symbolQuite" />
        </div>
        <p>
          “For our company, this is the first time developing software in the
          form of Offshore but it has achieved more than expected results.
          Thanks to that, we were able to launch Fanclup pages 5 times faster
          and have reduced costs by 30% compared to the initial investment”
        </p>
        <div class="avatarClient">
          <img src="/assets/images/brands/avatarClient.png" alt="" />
        </div>
        <div id="client_info">
          <p id="client_info_name">MR. Natsuki Takamura</p>
          <p id="client_info_position">AXEL ENTER MEDIA Company</p>
        </div>
      </div>
    </div>
  </div>

  <div class="client_dots">
    <span class="client_dot" onclick=""></span>
    <span class="client_dot" onclick=""></span>
    <span class="client_dot" onclick=""></span>
  </div>
</div>
