<div class="footerNavigation">
  <div class="content">
    <!-- Column 1 -->
    <div class="content_item first">
      <img src="/assets/images/logoFooter.png" alt="logo MinaTech footer" />
      <p>
        Minatech is a leading IT outsourcing company delivering a full range of
        uncompromising quality and value added ecommerce, web/mobile app,
        blockchain development services globally
      </p>
      <img src="/assets/images/iconsLang.png" alt="Icons languages">
    </div>
    <!-- Column 2 -->
    <div class="content_item second">
      <h4>Menu</h4>
      <ul>
        <li>Shopify Development</li>
        <li>Web app development</li>
        <li>Mobile app development</li>
        <li>Blockchain development</li>
        <li>Portfolio</li>
        <li>Blog</li>
      </ul>
    </div>
    <!-- Column 3 -->
    <div class="content_item three">
      <h4>Contact Infor</h4>
      <div>
        <img src="/assets/images/locationIcon.png" alt="Location Icon" />
        <p>
          No. 8B12, My Dinh 1 Urban Area, Civil Group no 8, Cau Dien Ward, Nam
          Tu Liem District, Ha Noi
        </p>
      </div>
      <div>
        <img src="/assets/images/mailIcon.png" alt="Icon Mail" />
        <p>hello@minatech.asia</p>
      </div>
      <div class="icon-socials">
        <img src="/assets/images/listIconSocial.png" alt="Icons Social">
      </div>
    </div>
  </div>
</div>
