<nav class="navbar">
  <!-- Logo -->
  <div id="navbar_logo">
    <img
      src="../assets/images/logo.png"
      alt="logo scuti"
      width="75px"
      height="84px"
    />
  </div>
  <!-- Navigation -->
  <ul id="navbar_tabs">
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">Services</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>
  <!-- Social icons -->
  <div id="navbar_icons">
    <img
      src="../assets/images/iconFacebook.png"
      alt="Icon Facebook"
      width="75px"
      height="84px"
    />
    <img
      src="../assets/images/iconTwiter.png"
      alt="Icon Twiter"
      width="75px"
      height="84px"
    />
    <img
      src="../assets/images/iconLinkedin.png"
      alt="Icon Linkedin"
      width="75px"
      height="84px"
    />
  </div>
</nav>
