<div class="services">
  <h5 id="label">Services</h5>
  <h2 id="title">Our Outstanding <br />Services</h2>
  <div id="content">
    <div id="content_left">
      <img src="/assets/images/imgServices.png" alt="Services image" />
    </div>

    <div id="content_right">
      <div class="flex">
        <div class="flex-col">
          <img src="/assets/images/ecommerce.png" />
          <img src="/assets/images/mobileapp.png" />
        </div>
        <div class="flex-col">
          <img src="/assets/images/software.png" />
          <img src="/assets/images/blockchain.png" />
        </div>
      </div>
    </div>
  </div>
</div>
