.clients_slide {
  width: calc(100% - (2 * var(--margin--body)));
  height: 413px;
  margin: 0 var(--margin--body);
  background-color: var(--white-color);
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.clients_slide .slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 24px;
  transform: translateX(-24%);
}

.clients_slide .slide {
  min-width: 600px;
}

.clients_slide .background {
  position: relative;
  max-width: 480px;
  height: 140px;
  text-align: center;
  padding: 60px 75px;
  background-color: var(--light-bg-color);
  opacity: initial;
  box-sizing: content-box;
  border: solid 1px #cccccc;
  border-radius: 16px;

  p {
    color: var(--darkGray-color);
    font-size: 16px;
    line-height: 24px;
  }
}

.clients_slide::before {
  width: 200px;
  position: absolute;
  z-index: 100; /* put it *behind* parent */
  /* go outside padding-box by 
		 * a border-width ($b) in every direction */
  top: 0;
  bottom: 0;
  left: -100px;
  border: inherit;
  border-color: transparent;
  background: inherit;
  background-clip: border-box;
  /* -webkit-prefixed version 
		 * still needed for 
		 * some mobile browsers 💔😭 */
  -webkit-filter: blur(9px);
  filter: blur(9px);
  /* -webkit-prefixed version 
		 * still needed for 
		 * some mobile browsers 💔😭 */
  -webkit-clip-path: inset(0);
  opacity: 0.6;
  clip-path: inset(0);
  content: '';
  border-radius: 50%;
}

.clients_slide::after {
  width: 200px;
  position: absolute;
  z-index: 100; /* put it *behind* parent */
  /* go outside padding-box by 
		 * a border-width ($b) in every direction */
  top: 0;
  bottom: 0;
  right: -100px;
  border: inherit;
  border-color: transparent;
  background: inherit;
  background-clip: border-box;
  /* -webkit-prefixed version 
		 * still needed for 
		 * some mobile browsers 💔😭 */
  -webkit-filter: blur(9px);
  filter: blur(9px);
  /* -webkit-prefixed version 
		 * still needed for 
		 * some mobile browsers 💔😭 */
  -webkit-clip-path: inset(0);
  opacity: 0.6;
  clip-path: inset(0);
  content: '';
  border-radius: 50%;
}

.clients_slide #client_info {
  margin-top: 160px;
}

.clients_slide #client_info #client_info_name {
  color: var(--newPri-color);
  font-size: 16;
}

.clients_slide #client_info #client_info_position {
  text-transform: uppercase;
  font-size: 16;
  color: var(--lightGray-colorP);
}

.clients_slide .symbol_top {
  position: absolute;
  top: 30px;
  right: calc(50% - 35px);
}

.clients_slide .avatarClient {
  position: absolute;
  bottom: -60px;
  right: calc(50% - 60px);
}
