.footer {
  height: 80px;
  font-weight: 16px;
  background-color: var(--light-bg-color);
  color: var(--lightgray-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    text-transform: uppercase;
  }
}
